<form [formGroup]="form" (ngSubmit)="submit()">
  <ion-item lines="none">
    <ion-label position="stacked">{{ 'ORDER.TAKE_OUT_DATE' | translate }}</ion-label>
    <ion-datetime
      formControlName="takeOutDate"
      presentation="date-time"
      [showDefaultButtons]="true"
    />
  </ion-item>

  <ion-item lines="none">
    <ion-label position="stacked">{{ 'ORDER.DELIVERY_DATE' | translate }}</ion-label>
    <ion-datetime
      formControlName="deliveryDate"
      presentation="date-time"
      [showDefaultButtons]="true"
    />
  </ion-item>

  <h3 class="section">{{ 'ORDER.DESTINATION' | translate }}</h3>
  <app-location-picker [(location)]="destination" />

  <ion-button expand="block" type="submit" [disabled]="saving()">
    {{ 'SAVE' | translate }}
  </ion-button>
</form>
