<ion-item>
  <ion-input
    [label]="'COUNTRY' | translate"
    labelPlacement="stacked"
    [ngModel]="location()?.country"
    (ngModelChange)="patch('country', $event)"
    name="country"
    autocomplete="country-name"
  />
</ion-item>

<ion-item>
  <ion-input
    [label]="'STATE' | translate"
    labelPlacement="stacked"
    [ngModel]="location()?.state"
    (ngModelChange)="patch('state', $event)"
    name="state"
    autocomplete="address-level1"
  />
</ion-item>

<ion-item>
  <ion-input
    [label]="'CITY' | translate"
    labelPlacement="stacked"
    [ngModel]="location()?.city"
    (ngModelChange)="patch('city', $event)"
    name="city"
    autocomplete="address-level2"
  />
</ion-item>

<ion-item>
  <ion-input
    [label]="'ROUTE' | translate"
    labelPlacement="stacked"
    [ngModel]="location()?.route"
    (ngModelChange)="patch('route', $event)"
    name="route"
    autocomplete="address-line1"
  />
</ion-item>

<ion-item>
  <ion-input
    [label]="'STREET_NUMBER' | translate"
    labelPlacement="stacked"
    [ngModel]="location()?.streetNumber"
    (ngModelChange)="patch('streetNumber', $event)"
    name="streetNumber"
  />
</ion-item>

<ion-item>
  <ion-input
    [label]="'POSTAL_CODE' | translate"
    labelPlacement="stacked"
    inputmode="numeric"
    [ngModel]="location()?.postalCode"
    (ngModelChange)="patch('postalCode', $event)"
    name="postalCode"
    autocomplete="postal-code"
  />
</ion-item>

<div class="actions">
  <ion-button fill="outline" size="small" [disabled]="loading()" (click)="locateFromFields()">
    <ion-icon name="search-outline" slot="start" />
    {{ 'LOCATION.SEARCH' | translate }}
  </ion-button>

  <ion-button fill="outline" size="small" [disabled]="loading()" (click)="useCurrentPosition()">
    <ion-icon name="location-outline" slot="start" />
    {{ 'LOCATION.USE_CURRENT' | translate }}
  </ion-button>

  @if (location()) {
    <ion-button fill="clear" size="small" color="danger" (click)="clear()">
      <ion-icon name="trash" slot="start" />
      {{ 'LOCATION.CLEAR' | translate }}
    </ion-button>
  }

  @if (loading()) {
    <ion-spinner name="dots" />
  }
</div>

@if (showMap()) {
  <div class="map-wrapper">
    <div #mapCanvas class="map-canvas"></div>
    @if (!ready()) {
      <p class="hint">{{ 'LOCATION.LOADING_MAP' | translate }}</p>
    }
  </div>
  <p class="hint">{{ 'LOCATION.TAP_HINT' | translate }}</p>
}
