<ion-header>
  <ion-toolbar color="dark-accent">
    <ion-buttons slot="start">
      <ion-button color="light" (click)="dismiss()" [attr.aria-label]="'CLOSE' | translate">
        <ion-icon slot="icon-only" name="arrow-back" />
      </ion-button>
    </ion-buttons>

    @if (images().length > 1) {
      <ion-title size="small" color="light">
        {{ currentIndex() + 1 }} / {{ images().length }}
      </ion-title>
    }
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="viewer">
  <app-carousel
    class="carrusel"
    [images]="images()"
    [startIndex]="startIndex()"
    (indexChanged)="currentIndex.set($event)"
  />
</ion-content>
