<form [formGroup]="form" (ngSubmit)="submit()">
  <!--
    El nombre visible primero y explicado: es el único de los tres que ven los
    demás, y se llamaba «nombre de usuario» aunque no sea con lo que se entra.
    El nombre y el apellido van emparejados en una fila, como se escriben.

    Los obligatorios llevan asterisco. Antes no se distinguían, y el formulario
    sólo protestaba al pulsar «Guardar».
  -->
  <ion-list>
    <ion-item>
      <ion-input
        formControlName="name"
        type="text"
        autocomplete="nickname"
        [label]="('DISPLAY_NAME' | translate) + ' *'"
        labelPlacement="stacked"
        [helperText]="'DISPLAY_NAME_HINT' | translate"
      />
    </ion-item>
    <app-control-messages [control]="form.controls.name" />

    <div class="pareja">
      <ion-item>
        <ion-input
          formControlName="firstName"
          type="text"
          autocomplete="given-name"
          [label]="('FIRST_NAME' | translate) + ' *'"
          labelPlacement="stacked"
        />
      </ion-item>

      <ion-item>
        <ion-input
          formControlName="lastName"
          type="text"
          autocomplete="family-name"
          [label]="('LAST_NAME' | translate) + ' *'"
          labelPlacement="stacked"
        />
      </ion-item>
    </div>
    <app-control-messages [control]="form.controls.firstName" />
    <app-control-messages [control]="form.controls.lastName" />
  </ion-list>

  <h3 class="section">{{ 'PERSONAL_DATA' | translate }}</h3>

  <ion-list>
    <ion-item>
      <ion-select
        formControlName="gender"
        [label]="'GENDER' | translate"
        labelPlacement="stacked"
        [cancelText]="'CANCEL' | translate"
        [okText]="'ACCEPT' | translate"
      >
        @for (option of genders; track option.value) {
          <ion-select-option [value]="option.value">{{ option.label | translate }}</ion-select-option>
        }
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-input
        formControlName="phone"
        type="tel"
        autocomplete="tel"
        [label]="'PHONE' | translate"
        labelPlacement="stacked"
      />
    </ion-item>
    <app-control-messages [control]="form.controls.phone" />

    <!--
      La fecha de nacimiento, en una pastilla que abre la rueda.

      Antes era un calendario mensual siempre abierto: ocupaba media pantalla
      y, para una fecha de hace treinta años, obligaba a pulsar la flecha de
      mes cientos de veces. La rueda de día, mes y año llega a cualquier año en
      un gesto, y plegada deja ver el resto del formulario.
    -->
    <ion-item lines="none">
      <ion-label>{{ 'BIRTHDAY' | translate }}</ion-label>
      <ion-datetime-button slot="end" datetime="birthday" />
    </ion-item>

    <ion-modal [keepContentsMounted]="true">
      <ng-template>
        <ion-datetime
          id="birthday"
          formControlName="birthday"
          presentation="date"
          [preferWheel]="true"
          [max]="today"
          [showDefaultButtons]="true"
          [cancelText]="'CANCEL' | translate"
          [doneText]="'ACCEPT' | translate"
        />
      </ng-template>
    </ion-modal>
  </ion-list>

  <h3 class="section">{{ 'ADDRESS' | translate }}</h3>
  <app-location-picker [(location)]="location" />

  <ion-button expand="block" type="submit" [disabled]="saving()">
    {{ 'SAVE' | translate }}
  </ion-button>
</form>
