<form [formGroup]="form" (ngSubmit)="submit()">
  <ion-list>
    <ion-item>
      <ion-input
        formControlName="name"
        type="text"
        [label]="'NAME' | translate"
        labelPlacement="stacked"
      />
    </ion-item>
    <app-control-messages [control]="form.controls.name" />

    <ion-item>
      <ion-input
        formControlName="firstName"
        type="text"
        autocomplete="given-name"
        [label]="'FIRST_NAME' | translate"
        labelPlacement="stacked"
      />
    </ion-item>
    <app-control-messages [control]="form.controls.firstName" />

    <ion-item>
      <ion-input
        formControlName="lastName"
        type="text"
        autocomplete="family-name"
        [label]="'LAST_NAME' | translate"
        labelPlacement="stacked"
      />
    </ion-item>
    <app-control-messages [control]="form.controls.lastName" />

    <ion-item>
      <ion-select
        formControlName="gender"
        [label]="'GENDER' | translate"
        labelPlacement="stacked"
        [cancelText]="'CANCEL' | translate"
        [okText]="'ACCEPT' | translate"
      >
        @for (option of genders; track option.value) {
          <ion-select-option [value]="option.value">{{ option.label | translate }}</ion-select-option>
        }
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-input
        formControlName="phone"
        type="tel"
        autocomplete="tel"
        [label]="'PHONE' | translate"
        labelPlacement="stacked"
      />
    </ion-item>
    <app-control-messages [control]="form.controls.phone" />

    <ion-item lines="none">
      <ion-label position="stacked">{{ 'BIRTHDAY' | translate }}</ion-label>
      <ion-datetime formControlName="birthday" presentation="date" [showDefaultButtons]="true" />
    </ion-item>
  </ion-list>

  <h3 class="section">{{ 'ADDRESS' | translate }}</h3>
  <app-location-picker [(location)]="location" />

  <ion-button expand="block" type="submit" [disabled]="saving()">
    {{ 'SAVE' | translate }}
  </ion-button>
</form>
