<!--
  Cómo se ve y en qué idioma habla la aplicación. Vivía en el menú lateral, de
  donde salió a la pantalla de configuración, y de ahí a esta pestaña.
-->
<ion-list lines="full">
  <ion-item>
    <ion-select
      [ngModel]="themePreference()"
      (ngModelChange)="changeTheme($event)"
      name="theme"
      [label]="'THEME.LABEL' | translate"
      [cancelText]="'CANCEL' | translate"
      [okText]="'ACCEPT' | translate"
    >
      @for (option of themeOptions; track option.value) {
        <ion-select-option [value]="option.value">
          {{ option.label | translate }}
        </ion-select-option>
      }
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-select
      [ngModel]="currentLanguage()"
      (ngModelChange)="changeLanguage($event)"
      name="lang"
      [label]="'LANG_SELECTOR' | translate"
      [cancelText]="'CANCEL' | translate"
      [okText]="'ACCEPT' | translate"
    >
      @for (option of languages(); track option.code) {
        <ion-select-option [value]="option.code">{{ option.label }}</ion-select-option>
      }
    </ion-select>
  </ion-item>
</ion-list>
